@mixin underlineStyle{
  background: none repeat scroll 0 0 transparent;
  bottom: -6px;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  background: #f86400;
  left: -10%;
}
.navbar-main {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .container{
    padding: 0 20px;

    @media(min-width:1080px) {
      padding: 0 9rem;
    }

    @media(min-width:1920px) {
      padding: 0;
    }
  }
  

  .button-auth{
    background-color: #F86400;
    color: #fff;
    font-weight: 600;

    &:hover{
      background-color: #d15604;
    }
  }

  li {
    margin: 0 2.5rem;
    color: #000000;
    font-size: 0.9em;
    font-weight: 600;

    .actives {
      color: #f86400;
      &:after {
        @include underlineStyle();
        width: 120%;
      }
    }

    .navLink {
      text-decoration: none;
      position: relative;
      &:hover {
        color: #f86400;
      }

      &:after {
        @include underlineStyle();
      }
    }
    .navLink:hover:after {
      width: 120%;
      left: -10%;
      
    }
  }
}
