.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-legenda-1{
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 2%;
  width: 400px;
  height: 470px;
  background-color: transparent;
  border-radius: 10px;
  z-index: 1 !important;
  font-weight: bold;
  overflow-y: auto;
}
.div-1, .div-2{
  background-color:white;
  padding: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}
.div-2{
  position: relative;
}

.div-2{
  margin-top: 10px;
}
.card-legenda-1 .lokasi {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  line-height: 25px;
  text-align: justify;
  color: #898989;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: #f1f3f8;
  z-index: 1 !important;
  font-weight: bold;
  overflow-y: auto;
}
.categories {
  height: 200px;
  background-color: #fff;
  margin-top: 5px;
  overflow-y: auto;
}
a.mapboxgl-ctrl-logo {
  display: none;
}
.thumb-kategori {
  width: 100%;
  background-color: #fff;
  padding: 10px 15px;
  border-bottom: 1px solid #d4d4d4;
  font-size: 14px;
}

.thumb-kategori:hover {
  cursor: pointer;
  background-color: rgb(242, 250, 250);
}
.sidebarStyle .filter button {
  color: #033b55;
  font-weight: bold;
  border: 1px solid #d4d4d4;
  padding: 6px;
}
.sidebarStyle .filter {
  border-bottom: 1px solid #d4d4d4;
}
::-webkit-scrollbar {
  width: 0.3em;
  border-radius: 18px;
}
::-webkit-scrollbar-track {
  opacity: 0.32;
  border-radius: 18px;
  background-color: rgba(238, 238, 238, 0.438);
}

::-webkit-scrollbar-thumb {
  background-color: #b3b7c6;

  border-radius: 18px;
}
.list-toko-umkm {
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
  background-color: #ffff;
}
.list-toko-umkm:hover {
  background-color: rgb(242, 250, 250);
}
.list-toko-umkm h1 {
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #323232;
}
.list-toko-umkm .thumb-img img {
  width: 140px;
  height: auto;
}
.list-toko-umkm .lokasi,
.list-toko-umkm .telp {
  align-items: flex-start;
  margin: 8px 16px 8px 0px;
}
.list-toko-umkm .lokasi span,
.list-toko-umkm .telp span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  color: #898989;
}

.marker {
  position: absolute;
  top: 40%;
  left: 50%;
  animation: rotation 0.5s linear alternate infinite;
  border-radius: 50% 50% 50% 0;
  border: 4px solid #d00000;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
}

.marker::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #d00000;
}

@keyframes rotation {
  0% {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
  20% {
    transform: translate3d(0, 5%, 0) rotate(-45deg);
  }
  40% {
    transform: translate3d(0, 10%, 0) rotate(-45deg);
  }
  60% {
    transform: translate3d(0, 15%, 0) rotate(-45deg);
  }
  80% {
    transform: translate3d(0, 20%, 0) rotate(-45deg);
  }
  100% {
    transform: translate3d(0, 25%, 0) rotate(-45deg);
  }
}

.mapboxgl-control-container {
  position: relative;
  top: 150px;
}


.mapbox-directions-component-keyline{
  box-shadow: 0 0 0 2px transparent;

}

.card-toko-point {
  background-color: white;
  width: 240px;
  position: relative;
  bottom: 150px;
  left: 10px;
}

.card-toko-point .thumb-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-toko-point .thumb-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.desc{
  word-wrap: break-word;
}

.thumb-img7 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.thumb-img7 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}