.site-tambah-toko {
  .map-container {
    overflow: inherit;
    position: relative;
  }
  .mapbox-directions-destination,
  .mapbox-directions-profile,
 .directions-icon-reverse,.mapboxgl-ctrl-geocoder:nth-child(1) {
    display: none;
  }
  .mapboxgl-control-container {
    position: relative;
    top: 40px;
  }
  .lokasi {
    height: 400px;
  }
}
