.site-pelatihan {
  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    h1 {
      font-weight: 600;
      font-size: 38px;
      color: #033b55;
    }

    p {
      margin-top: 4px;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      color: #323232;
    }
  }
}
