.card-pelatihan  {
  .card-title {
    h1 {
      font-size: 16px;
      text-align: left;
      line-height: 16px;
    }
    .lokasi {
      font-weight: 400;
      font-size: 14px;
      color: #898989;
      display: flex;
      margin-top: 8px;
    }
  }
  button {
    font-size: 16px;
  }
}
