.site-buka-toko {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  .card-title {
    border-bottom: 1px solid #efeef3;

    h1 {
      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
      color: #323232;
    }
  }

  .thumb-image {
    width: 80px;
    height: 80px;
    background: #cccccc;
    border-radius: 8px;
  }
  .button-save {
    button {
      font-size: 15px;
      border-radius: 8px;
    }
  }
  .form-body {
    font-size: 1rem;
    &:nth-last-child(2) {
      border-bottom: 1px solid #efeef3;
    }

    .form-input {
      border: 2px solid #efeef3;
      box-sizing: border-box;
      border-radius: 8px;
    }

    .location-svg {
      bottom: 33px;
      position: relative;
    }

    textarea {
      height: 100px;
    }
  }
  .regist-link {
    cursor: pointer;
    color: #0e65a3;

    &:hover {
      text-decoration: underline;
    }
  }
}
